@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Import our custom animations */
@import '../lib/styles/animations.css';

:root {
	--primary: #6d28d9;
	--secondary: #d946ef;
	--accent: #f472b6;
	--neutral: #1a1a1a;
	--base-100: #f3f4f6;
	--info: #3abff8;
	--success: #36d399;
	--warning: #fbbd23;
	--error: #f87272;
}

[data-theme='dark'] {
	--primary: #a78bfa;
	--secondary: #f472b6;
	--accent: #fca5a5;
	--neutral: #e5e7eb;
	--base-100: #1a1a1a;
	--info: #3abff8;
	--success: #36d399;
	--warning: #fbbd23;
	--error: #f87272;
}
